.details-container {
  position: sticky;
  top: 0;
}

.name {
  margin-bottom: 0px;
}
.area {
  margin-top: 0px;
}

.self-details1 {
  background: lightgray;
  border-radius: 10px;
  margin: 0px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.h,
.p {
  margin-top: 2px;
  margin-bottom: 2px;
}
.break-details1 {
  background: lightgray;
  border-radius: 10px;
  margin: 0px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.break-title {
  margin-top: 60px;
}
.break-btn {
  background: white;
  border: none;
  border-radius: 100%;
  margin: 17px;
  padding: 10px;
}
.break-btn:hover {
  background: rgb(74, 172, 211);
}
.exercise-time-field,
.break-time-field {
  background: lightgray;
  border-radius: 10px;
  margin: 0px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
}

.completed-btn {
  width: 90%;
  background: rgb(74, 172, 211);
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.completed-btn:hover {
  background: tomato;
}
