.activity-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.exercise-container {
  border: 1px solid red;
}
.all-exercise {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.details-container {
  border: 1px solid red;
}
