.product {
  width: 290px;
  height: 450px;
  border: 1px solid lightgray;
  border-radius: 10px;
  position: relative;
  background-color: white;
  margin-left: 20px;
}

.product img {
  height: 290px;
  width: 290px;
  border-radius: 10px;
}
.product-info {
  margin: 0px 14px;
}
.btn-cart {
  width: 90%;
  margin-left: 5%;
  background-color: skyblue;
  border: 1px solid gray;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: -8px;
}
